[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "aliyun"

[packages]
click = "*"
psutil = "*"
pyyaml = "*"
gitpython = "*"
bcrypt = "*"
speedtest-cli = "*"
pexpect = "*"
scapy = "*"
keyring = "*"
requests = "*"
lxml = "*"
peewee = "*"
prettytable = "*"
# 编译构建工具
twine = "*"
setuptools = "*"
wheel = "*"
PyX = "*"
requests-cache = "*"
paramiko = "*"
jiuming-tools = { editable = true, path = "." }

[dev-packages]
#[requires]
#python_version = "3.*"
